@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: #efefed;
}

header.pc {
  width: 100%;
}
@media (max-width: 1000px) {
  header.pc {
    display: none;
  }
}
header.pc .upper {
  background: #232323;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
header.pc .upper .description {
  color: #fff;
  font-size: 12px;
}
header.pc .upper .outsourcing a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 12px;
}
header.pc .upper .outsourcing a img {
  width: 2em;
  height: auto;
}
header.pc .upper .outsourcing a span {
  color: #fff;
  text-decoration: underline;
}
header.pc .inner {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 0;
}
header.pc .inner .logo {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 15px;
}
header.pc .inner .logo a img {
  width: 280px;
}
header.pc .inner ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header.pc .inner ul li a {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: 15px;
  padding: 0.2em 0.6em;
  color: #000;
  font-weight: 700;
  position: relative;
}
header.pc .inner ul li a img {
  display: block;
  width: 2em;
}
header.pc .inner ul li a:hover::before {
  content: "";
  display: block;
  width: 2em;
  height: 2em;
  background-image: url("../img/common/footer/hover.svg");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  position: absolute;
  top: -0.6em;
  right: -0.6em;
}

.page_top .mainvisual {
  max-width: 1500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 60px 0 20px 10vw;
}
@media (max-width: 1000px) {
  .page_top .mainvisual {
    padding: 60px 20px;
  }
}
.page_top .mainvisual img.bg {
  position: absolute;
  width: 800px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}
.page_top .mainvisual img.hand {
  position: relative;
}
@media (max-width: 1000px) {
  .page_top .mainvisual img.hand {
    display: none;
  }
}
.page_top .mainvisual .txt {
  position: relative;
}
.page_top .mainvisual .txt img {
  display: block;
  margin-bottom: 10px;
  width: 500px;
}
.page_top .mainvisual .txt span {
  display: block;
  font-size: clamp(20px, 2.4vw, 28px);
  font-weight: 700;
  padding-left: 5px;
}
.page_top .links .inner {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  margin: 0 auto;
  padding: 40px 0;
}
.page_top .links .inner .item .thumbnail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.page_top .links .inner .item .thumbnail img {
  background: #fff;
  width: 100%;
  border-radius: 20px;
}
.page_top .links .inner .item h2 {
  font-size: 18px;
  padding-left: 10px;
}
.page_top .links .inner .item p {
  padding-left: 10px;
  font-weight: 500;
}
.page_top .links .inner .item:nth-child(1) {
  grid-area: 1/1/2/4;
}
.page_top .links .inner .item:nth-child(2) {
  grid-area: 1/4/2/7;
}
.page_top .links .inner .item:nth-child(3) {
  grid-area: 2/1/3/3;
}
.page_top .links .inner .item:nth-child(4) {
  grid-area: 2/3/3/5;
}
.page_top .links .inner .item:nth-child(5) {
  grid-area: 2/5/3/7;
}

.page_about {
  padding: 100px 20px;
}
.page_about .inner {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
  padding: 60px 80px;
  border-radius: 60px;
}
.page_about .inner h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}
.page_about .inner h2 span {
  display: block;
  line-height: 1.2;
}
.page_about .inner h2 span:nth-child(1) {
  font-size: 50px;
  font-family: "Dela Gothic One", sans-serif;
  color: #fc6e47;
  letter-spacing: 0.1em;
}
.page_about .inner h2 span:nth-child(2) {
  font-size: 28px;
  font-weight: 900;
}
.page_about .inner p {
  font-size: 17px;
  line-height: 2;
  margin-bottom: 1em;
}

.page_service .inner {
  max-width: 700px;
  margin: 0 auto;
  padding: 100px 10px;
}
.page_service .inner .thumbnail {
  width: 100%;
  background: #fff;
  border-radius: 20px;
  aspect-ratio: 5/2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.page_service .inner .thumbnail img {
  width: 60%;
}
.page_service .inner p {
  font-size: 17px;
  line-height: 2;
  margin-bottom: 1em;
}
.page_service .inner .list {
  padding: 40px;
  background: #fff;
  border-radius: 10px;
}
.page_service .inner .list .list_title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 1em;
}
.page_service .inner .list ul li {
  position: relative;
  padding-left: 2em;
  padding-bottom: 1em;
  font-size: 15px;
  font-weight: 500;
}
.page_service .inner .list ul li:last-child {
  padding-bottom: 0;
}
.page_service .inner .list ul li::before {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  background-image: url("../img/page/service/list.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  position: absolute;
  top: 0.2em;
  left: 0;
}

.contact_footer {
  padding: 40px 20px;
}
.contact_footer .inner {
  background: #fff;
  border-radius: 50px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.contact_footer .inner img.illust {
  position: absolute;
  right: 50px;
  bottom: 0;
  width: 300px;
}
.contact_footer .inner img.illust img {
  width: 100%;
}
@media (max-width: 850px) {
  .contact_footer .inner img.illust {
    display: none;
  }
}
.contact_footer .inner .txt {
  width: -moz-fit-content;
  width: fit-content;
  padding: 60px 0 60px 120px;
}
@media (max-width: 850px) {
  .contact_footer .inner .txt {
    margin: 0 auto;
    padding: 60px 20px;
  }
}
.contact_footer .inner .txt h2 {
  text-align: center;
  margin-bottom: 10px;
}
.contact_footer .inner .txt h2 img {
  max-width: 300px;
  width: 80%;
}
.contact_footer .inner .txt p {
  text-align: center;
  font-size: clamp(14px, 1.6vw, 18px);
  font-weight: 700;
  margin-bottom: 20px;
}
.contact_footer .inner .txt p br {
  display: block;
}
@media (max-width: 850px) {
  .contact_footer .inner .txt p br {
    display: none;
  }
}
.contact_footer .inner .txt .btn {
  text-align: center;
}
.contact_footer .inner .txt .btn a {
  background: #efefed;
  color: #000;
  padding: 1em;
  display: flex;
  gap: 1em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 16px;
  font-weight: 700;
}

footer {
  text-align: center;
  padding: 40px 20px;
  background: #fff;
}
footer img {
  max-width: 400px;
  width: 80%;
}

.page_price {
  padding: 100px 20px;
}
.page_price .inner {
  max-width: 1000px;
  margin: 0 auto;
}
.page_price .inner section {
  margin-bottom: 40px;
}
.page_price .inner section h2 {
  font-size: 24px;
  font-weight: 700;
}
.page_price .inner section p {
  font-size: 17px;
  line-height: 2;
  margin-bottom: 1em;
}
.page_price .inner section ul li {
  font-size: 17px;
  line-height: 2;
  margin-bottom: 1em;
}
.page_price .inner table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #000;
}
.page_price .inner table th,
.page_price .inner table td {
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #000;
  padding: 10px;
  background: #fff;
}
.page_price .inner table th {
  background: #ccc;
}

.page_note {
  padding: 100px 20px;
}
.page_note .inner {
  background: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 80px;
  border-radius: 60px;
}

.works_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
.works_list .btn a img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.works_contents {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px;
}
.works_contents img {
  margin-bottom: 40px;
}

.sp_header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 101;
}
@media (min-width: 1000px) {
  .sp_header {
    display: none;
  }
}
.sp_header .logo {
  flex: 1;
  line-height: 0;
}
.sp_header .logo a img {
  width: 240px;
  padding: 10px 20px;
}

.drawer_btn {
  font-size: 55px;
  width: 1em;
  height: 1em;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.drawer_btn span,
.drawer_btn span:after,
.drawer_btn span:before {
  content: "";
  display: block;
  width: 0.6em;
  height: 3px;
  background: #fff;
  position: absolute;
  transition: 0.3s;
}
.drawer_btn span:before {
  bottom: 0.2em;
  transition: 0.3s 0.3s, transform 0.3s;
}
.drawer_btn span:after {
  top: 0.2em;
  transition: 0.3s 0.3s, transform 0.3s;
}
.drawer_btn span.active {
  background: rgba(255, 255, 255, 0);
}
.drawer_btn span.active:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: 0.3s, transform 0.3s 0.3s;
}
.drawer_btn span.active:after {
  top: 0;
  transform: rotate(45deg);
  transition: 0.3s, transform 0.3s 0.3s;
}

.drawer_content {
  width: 100vw;
  height: 100vh;
  background: #fff;
  padding: 80px 20px;
  overflow: scroll;
  position: fixed;
  top: 0;
  right: -100%;
  opacity: 0;
  z-index: 100;
  transition: 0.3s;
}
.drawer_content.active {
  opacity: 1;
  top: 0;
  right: 0;
}
.drawer_content ul li a {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: 18px;
  padding: 0.5em 0.6em;
  font-weight: 700;
  color: #000;
}
.drawer_content ul li a img {
  display: block;
  width: 3em;
}/*# sourceMappingURL=style.css.map */